<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:tree="http://xmlns.jcp.org/jsf/composite/tree"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:dataTable value="#{backingBean0.values}"
                    var="theValue">
                <p:column>
                    <p:treeTable value="#{backingBean0.createRoot(theValue)}"
                            var="theVar">
                        <p:column>
                            <h:outputLabel value="#{theVar[0]}"/>
                        </p:column>
                        <p:column>
                            <h:outputLabel value="#{theVar[1]}"/>
                        </p:column>
                    </p:treeTable>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

